/* line 1, C:\Users\azheng\Zend\workspaces\DefaultWorkspace\testKraken\css\app */
body {
  padding-top: 70px;
}
/* line 5, C:\Users\azheng\Zend\workspaces\DefaultWorkspace\testKraken\css\app */
.item-title {
  padding-right: 10px;
}
/* line 9, C:\Users\azheng\Zend\workspaces\DefaultWorkspace\testKraken\css\app */
.product-item {
  border: 1px solid #aaa;
  padding: 15px;
  margin: 10px 0px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 1px #000;
}
/* line 15, C:\Users\azheng\Zend\workspaces\DefaultWorkspace\testKraken\css\app */
.product-item:hover {
  background: #4682B4;
  color: #fff;
  corsor: pointer;
}
/* line 17, C:\Users\azheng\Zend\workspaces\DefaultWorkspace\testKraken\css\app */
.primary-tile {
  font-weight: bold;
  padding-bottom: 3px;
  margin-bottom: 3px;
  border-bottom: 1px solid #888;
}
